{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}
<h1 class="text-center">Home Page</h1>
    <div>
        <div class="bg-dark p-5 m-5 rounded">
          <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, tempora hic quis, laudantium, magni nesciunt eligendi commodi cupiditate sequi adipisci voluptatum ullam officiis molestiae nam ea in id perspiciatis. Labore.</p>
            <p>Thank you for join us <a href="#">Saifur Rahman Udoy</a></p>
              <a class="btn btn-primary" href="/posts" role="button">Go to posts </a>
            </p>
          </div>
        </div>
      </div>
{% endblock body %}